<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_book</title>
</head>
<body>
<h1>添加书籍</h1>
<form action="/add_book/" method="post">
    <p>书籍名称:<input type="text" name="book_name"></p>
    <p>书籍描述:<input type="text" name="book_description"></p>
    <p>书籍国家:<input type="text" name="book_country"></p>
    <select name="publisher">
        {% for publisher in all_pub_obj %}
            <option value="{{ publisher.publisher_id }}">{{ publisher.publisher_name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="提交">
</form>
</body>
</html>